@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 255, 255);
  color:black;
  } 

/* COLORS */
/* #8da35e
#bdcab3
#edead7
#bfb6cd
#5a4153 */

/* APP */

.App {
  text-align: center;
}
.Main{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1700px;
}

/* APP END */

.secondary{
  width: 100%;
  height: 800px;
  background-color: rgba(211, 5, 5, 0.5);
}
